/svm_Linear_1_None_True.png
/svm_Linear_1_None_False.png
/svm_Polynomial_1_\[1,\ 15\]_True.png
/svm_Polynomial_1_\[1,\ 3\]_False.png
/svm_Polynomial_1_\[1,\ 3\]_True.png
/svm_Polynomial_1_\[1000,\ 3\]_True.png
/svm_Gaussian_1_\[0.1\]_False.png
/svm_Gaussian_1_\[0.4\]_False.png
/svm_Gaussian_1_\[0.4\]_True.png
/svm_Gaussian_1_\[0.5\]_False.png
/svm_Gaussian_1_\[2\]_False.png
